*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.generatedtext{
    width: 200px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
   content: '';
   height: 3px;
   width: 0;
   background: #009688;
   position: absolute;
   left: 0;
   bottom: -10px;
   transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
 }
 .content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
 }
 .content h1{
    font-size: 70px;
    margin-top: 80px;
 }
 .content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
 }
 button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
 }

 span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
 }
 
 button:hover span{
    width: 100%;
 }
 button:hover{
    border: none;
 }
 .about{
    width: 100%;
    height: 500vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(skyline\ p2.avif);
    background-size: cover;
 }

 .whyus{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
 }
 .whyus h1{
    font-size: 70px;
    margin-top: 80px;
 }
 .meetteam p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
 }

 .hiring{
    width: 100%;
    height: 500vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(cityskyline.avif);
    background-size: cover;
 }


 .container{
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(interview.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    
 }

 .apply-box{
    max-width: 500px;
    padding: 20px;
    margin: 0px auto;
    margin-top: 50px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.2);
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    border-radius: 40px;
 }

 .title-small{
    font-size: 20px;
 }

 .form-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 20px;
 }

 .form-control{
    display: flex;
    flex-direction: column;
    color: #fff;

 }

 label{
    font-size: 15px;
    margin-bottom: 5px;

 }

 input,select,textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
 }

 input:focus{
    outline-color: royalblue;
 }

 .button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
 }

 .textarea-control{
    grid-column: 1/ span2; 
 }

 .textarea-control textarea{
    width: 100%;
 }

 @media(max-width: 460px){
    .textarea-control{
        grid-column: 1/ span 1;
    }
 }

 .meetteam{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #ffffff;
 }

 .team{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(conferenceroom.jpeg);
    background-size: cover;
 }

 .teamimages{
    height: 70vh;
    margin: 15px;
   float: left;
 }
 
 .text-box{
    text-align: center;
    transform: translateY(700px);
    margin:140px;
 }
 .text-box h2{
    transform: translateY(40px);
    font-size: 42px;
 }

 .text-box p{
    transform: translateY(75px);
    font-size: 24px;
 }

 main > section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .copyright{
    color: grey;
    font-size: small;
 }